DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=royalcity
DB_PASSWORD=coloque-uma-senha-forte
DB_NAME=royal_city
AUTH_SECRET=gere-uma-string-aleatoria-com-pelo-menos-32-caracteres
ALLOW_PUBLIC_SIGNUP=true
SITE_INDEXING=false
STAFF_PASSWORD=coloque-uma-senha-forte-so-sua
